
<table cellpadding="0" cellspacing="0" border="0" class="display" id="artifacts-table">
  <thead>
    <tr>
      <th width='20'>ID</th>
      <th width='150'>Name</th>
      <th>Description</th>
      <th width='5'>-</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>-</th>
    </tr>
  </tfoot>
</table>
