/* 
    Document   : portfolios
    Created on : Apr 23, 2014, 4:10:52 PM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.
*/

@import "tables.css"; 

root { 
    display: block;
}


#portfolio-table > tbody > tr.portfolio-row {
cursor: pointer;
}

#artifacts-table > tbody > tr.artifact-row {
cursor: pointer;
}

table#artifacts-table {
  width: 100% !important;
  padding-top: 10px;
}

/*
a#new-portfolio {
  position: absolute;
}
*/

.myaccountblock {
  height: 100%;
}

a#portfolio-prefs.ui-state-default {
  float: right;
  border: 5px double darkgrey;
}

table#portfolio-table {
    width: 100%;
}