/* 
    Document   : show_portfolios
    Created on : Apr 19, 2013, 4:27:13 PM
    Author     : rlittle
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div#content {
position: relative;
display: inline-block;
margin-top: 0px;
min-height: 475px;
width: 725px	9;
width: 725px;
}

#page-middle-left {
position: relative;
display: inline-block;
width: 290px;
}


div.portfolio-item {
border: dotted transparent 1px;
width: 300px;
height: 310px;
display: inline-block;
margin-right: 0px;
margin: initial;
position: relative;
vertical-align: top;
cursor: pointer;
}

div#edit-portfolio {
position: absolute;
z-index: 20;
width: 32px;
height: 32px;
MARGIN-TOP: 15px;
margin-left: 15px;
border-image: initial;
}

img.handle {
position: absolute;
top: 247px;
left: 15px;
}

ul#left-nav li.top-nav a:hover {
color: #1b4d4b;
}

ul#left-nav li a {
color: #42a5a4;
font-size: 17px;
text-shadow: none;
font-weight: normal;
text-transform: none;
font-family: 'BookmanOldStyleRegular';
text-align: right;
}

div#section-name {
font-family: 'BookmanOldStyleRegular';
color: #42a5a4;
font-weight: bold;
font-size: 29px;
text-decoration: none;
text-shadow: none;
font-weight: normal;
text-transform: none;
left: 0px;
top: 15px;
position: absolute;
z-index: 200;
}

ul#left-nav {
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-left: -46px;
margin-top: 100px;
bottom: 0px;
}

li.left-nav-selected {
color: #42a5a4;
text-decoration:underline;
font-size: 17px;
text-shadow: none;
font-weight: normal;
text-transform: none;
font-family: 'BookmanOldStyleRegular';
text-align: right;
}

div.portfolio-float {
display: inherit;
overflow: hidden;
margin-left: auto;
margin-right: auto;
width: 275px;
}

div.portfolio-picture {
margin: 0px 0px 0px 0px;
position: relative;
}

div.portfolio-name {
text-align: center;
color: black;
font-family: open_sansbold;
padding-top: 7px;
font-size: 14px;
}

div.portfolio-location {
text-align: center;
padding-top: 2px;
font-size: 13px;
}

div#portfolio-list {
width: 1024px;
margin-left: -13px;
}

div.portfolio-picture img {
width: 275px;
}


img.handle {
position: absolute;
top: 265px;
left: 15px;
}

div.portfolio-item.admin:hover {
background-color: #eee;
}